.header {
  height: 80px;
  border-bottom: 1px solid black;
}

.sidebar {
  height: calc(100vh - 80px);
  width: 300px;
  border-right: 1px solid black;
  padding: 16px;
}

.sidebar_outlet_container {
  display: flex;
}

.sidebar_menu_container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  color: var(--text-color);
  background-color: var(--btn-background-color);
}

.btn:hover {
  cursor: pointer;
  background-color: var(--btn-hover-color);
}

.btn_active {
  background: var(--btn-hover-color);
}
